Makefile*
insight-vmi.pro.user*

debug/
release/

libinsight.so*

cscope.files
cscope.out
tags
*.swp
screenrc
.vimrc



temp

insight/insight
insightd/insightd
insightd/ui_memorymapwindow.h
insightd/rules/Linux_*
insightd/tests
libantlr3c/libantlr3c.a
libantlr3c/libantlr3c.prl
libcparser/libcparser.a
libcparser/libcparser.prl
libdebug/libdebug.a
libdebug/libdebug.prl
