Makefile*

debug/
release/

libinsight.so*

cscope.files
cscope.out
tags
*.swp
screenrc
.vimrc



temp

insight/insight
insightd/insightd
insightd/tests/astexpressionevaluator/astexpressionevaluatortester
insightd/tests/astexpressionevaluator/ui_memorymapwindow.h
insightd/tests/memoryrangetree/memoryrangetreetester
insightd/tests/priorityqueue/priorityqueuetester
insightd/ui_memorymapwindow.h
libantlr3c/libantlr3c.a
libantlr3c/libantlr3c.prl
libcparser/libcparser.a
libcparser/libcparser.prl
libcparser/tests/asttypeevaluator/asttypeevaluator
libdebug/libdebug.a
libdebug/libdebug.prl
